section.footer
    .container 
        .footer-wrap 
            .footer-col 
                .footer__logo 
                    a(href="#").logo {{logo}}
                .footer__link
                    a(href="#") {{footerLinkPolit}}
                .footer__link
                    a(href="#") {{footerLinkCopy}}
            .footer-col 
                ul.footer__table 
                    li.footer__table-item(v-for="(item) in footerLinks") 
                        a(:href='item.link').link {{item.title}}
            .footer-col 
                +social()
                .footer__email-row 
                    a(href="#").link.footer__email {{emailMain}}
            .footer-col 
                .footer-btn-wrap
                    +btn-transparent('Обратный звонок') 
                    a(href="#").footer-number {{number}} 

