section.prices
    .container
        .prices-wrap 
            h4.prices__title {{pricesTitle}} 
            h5.prices__subtitle {{pricesSubitle}}
            ul.prices__cards 
                li.prices__cards-item(v-for="item in pricesCards")
                    h6.prices__cards-title {{item.title}}  
                    p.prices__cards-meta {{item.metaAuto}}
                    p.prices__cards-meta {{item.metaWorker}}
                    p.prices__cards-meta {{item.metaTime}}
                    p.prices__cards-value {{item.price}} 
                    button.prices__cards-btn(type='button' @mouseleave='pricesBtn($event)') Заказать
