* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &::selection {
    background: $mainRed;
  }
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #333333;
  line-height: 21px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat_regular";
  background: #f6f6f6;
}

.body--hidden {
  overflow: hidden;
}

input,
textarea {
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1340px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rel {
  position: relative;
}

img {
  pointer-events: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

a {
  text-decoration: none;
}

.btn-up {
  position: fixed;
  bottom: 50px;
  left: 30px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 15px;
  border: 3px solid $mainGrey;
  border-radius: 50% 50% 50% 50%;
  background: #fff;
  transition: border 0.3s linear, bottom 0.5s ease-in;
  z-index: 2000;

  svg {
    pointer-events: none;
  }

  path {
    transition: fill 0.3s linear;
  }
}

.btn-up:hover {
  border: 3px solid $mainRed;

  path {
    fill: $mainRed;
  }
}

.btn-up--hidden {
  bottom: -100px;
}
