.logo {
  position: relative;
  color: $mainGrey;
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  &::before {
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: calc(100% + 10px);
    height: 0;
    content: "";
    background: $mainRed;
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }
}

.logo:hover {
  color: #fff;
}

.logo:hover::before {
  height: calc(100% + 4px);
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $mainGrey;
  transition: color 0.3s linear 0.3s;

  &::before {
    position: absolute;
    bottom: -10px;
    left: 0%;
    transform: scale(0);
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $mainRed;
    transition: transform 0.3s linear 0.3s;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    bottom: -7px;
    left: 4px;
    content: "";
    width: 0%;
    height: 2px;
    background: $mainRed;
    transition: width 0.3s linear;
    pointer-events: none;
  }
}

.link:hover {
  color: $mainRed;
  transition: color 0.3s linear;

  &::before {
    transform: scale(1);
    transition: transform 0.3s linear;
  }

  &::after {
    width: 100%;
    transition: width 0.3s linear 0.3s;
  }
}

.social {
  display: flex;
}

.social-item + .social-item {
  margin-left: 30px;
}

.social-item a path {
  transition: fill 0.3s linear;
}

.social-item a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: -1;
  }
}

.social-item a:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.social-item a:hover path {
  fill: $mainRed;
}

.section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}
