.footer {
  position: relative;
  padding: 100px 0;
  background: $mainYellow;
  z-index: 1000;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 240px 1fr 1fr 1fr;
  gap: 100px;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__link + .footer__link {
  margin-top: 35px;
}

.footer__link a {
  font-size: 16px;
  line-height: 130.4%;
  color: #0e0f12;
}

.footer__table {
}

.footer__table-item {
}

.footer__table-item-link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $mainGrey;
}

.footer__table-item + .footer__table-item {
  margin-top: 15px;
}

.footer__email {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $mainGrey;
}

.footer-btn-wrap .btn-transparent {
  margin-bottom: 5px;
}

.footer-number {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $mainGrey;
}

.footer-number::before {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: $mainGrey;
  transition: all 0.2s ease-in-out;
}

.footer-number:hover {
  color: $mainRed;

  &::before {
    background: $mainRed;
  }
}

.footer .social {
  margin-bottom: 20px;
}