.header {
  position: relative;
  padding: 30px 0 40px;
  z-index: 1000;
  overflow: hidden;
  background: $mainYellow;

  @media (min-width: 480px) {
    padding: 50px 0 80px;
  }
}

.header__wrap {
  @media (min-width: 900px) {
    background: url("../img/png/auto-blur.png") center right no-repeat;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 40px;
}

.header__nav-row {
  display: none;

  @media (min-width: 720px) {
    display: flex;
  }
}

.header__nav-row .header__nav-row-item + .header__nav-row-item {
  margin-left: 45px;
}

.header__nav-row-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $mainGrey;
}

.header__nav-burger {
  display: block;
  position: relative;
  width: 45px;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: 480px) {
    height: 30px;
  }

  @media (min-width: 950px) {
    display: none;
  }
}

.header__nav-burger.active {
  span::before {
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(405deg);
  }

  &::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-405deg);
  }
}

.header__nav-burger::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: $mainGrey;
  pointer-events: none;
  transition: all 0.5s linear 0.3s;
}

.header__nav-burger::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: $mainGrey;
  pointer-events: none;
  transition: all 0.5s linear 0.3s;
}

.header__nav-burger span::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  content: "";
  background: $mainGrey;
  pointer-events: none;
  transition-delay: 0.5s;
}

.header__nav-number {
  display: none;

  @media (min-width: 950px) {
    display: block;
  }
}

.header__nav-number-link {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $mainGrey;
}

.header__nav-number-link::before {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background: $mainGrey;
  transition: all 0.2s ease-in-out;
}

.header__nav-number-link:hover {
  color: $mainRed;

  &::before {
    background: $mainRed;
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (min-width: 480px) {
    padding-top: 50px;
  }
}

.header__body-info {
  width: 100%;
  z-index: 500;

  @media (min-width: 480px) {
    max-width: 550px;
    width: auto;
  }
}

.header__body-info-title {
  display: grid;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Montserrat_bold";
  font-size: 28px;
  line-height: 126.9%;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 50px;
    text-align: left;
  }

  @media (min-width: 600px) {
    font-size: 60px;
  }

  @media (min-width: 720px) {
    font-size: 70px;
  }
}

.header__body-info-subtitle {
  margin-bottom: 330px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 22px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 50px;
  }

  @media (min-width: 600px) {
    font-size: 26px;
  }

  @media (min-width: 720px) {
    font-size: 30px;
  }
}

.btn-red.header__body-info-btn {
  @media (min-width: 480px) {
    margin-bottom: 75px;
  }
}

.header__body-info-table {
  display: none;

  @media (min-width: 720px) {
    display: flex;
    align-items: flex-end;
  }
}

.header__body-info-table-item {
  display: flex;
  align-items: center;
}

.header__body-info-table-item + .header__body-info-table-item {
  margin-left: 40px;
}

.header__body-info-table-item-img {
  margin-right: 5px;
  max-width: 50px;
  max-height: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.header__body-info-table-item-text {
  display: grid;
  font-size: 16px;
  line-height: 21px;
}

.header__body-img {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  z-index: 400;

  @media (min-width: 480px) {
    width: auto;
    bottom: 0;
    left: 55%;
    transform: translateX(0%);
  }

  @media (min-width: 1140px) {
    left: 45%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header__body-tel {
  z-index: 500;
}

.header__body-tel-btn {
  display: none;
  position: relative;
  width: 100px;
  height: 100px;
  background: $mainBlue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  z-index: 100;
  transition: box-shadow 0.3s ease-in-out;

  @media (min-width: 480px) {
    display: block;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    background: rgba(61, 155, 233, 0.3);
    animation: tel-btn 2.5s linear 1s infinite;
    z-index: -1;
  }
}

.header__body-tel-btn:hover {
  box-shadow: 0px 0px 20px #fff, 0px 0px 40px #fff, 0px 0px 60px #fff;
  &::before {
    animation-play-state: paused;
  }
}
