block variables

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title #{title}

		meta(name="keywords" content= 'food')
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="./libs/css/animate.css")
		link(rel="stylesheet", href="./libs/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="./libs/css/owl.carousel.min.css")
		link(rel="stylesheet", href="./libs/css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./libs/jquery/jquery-ui.min.css")
		link(rel="stylesheet", href="./libs/jquery/jquery-ui.theme.min.css")

	body(class=pageClass)
		.page#page(v-cloak)
			block content

		<script src="./libs/jquery/jquery-3.3.1.min.js"></script>
		script(src="./libs/jquery/jquery-ui.min.js")  
		<script src="./libs/vue/vue.js"></script>
		<script src="./js/main.js"></script>
		script(src="./libs/owlcarousel/owl.carousel.min.js")
		<script>jQuery(document).ready(function($) {new WOW().init();});</script>
		<script src="./libs/wow/wow.min.js"></script>
		<script>jQuery(document).ready(function($) {$('.wow').attr('data-wow-duration', '1.5s' );});</script>