block variables

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title #{title}

		meta(name="keywords" content= 'food')
		link(rel="stylesheet", href="./css/main.css")

	body(class=pageClass)
		.page#page(v-cloak)
			block content
  
		<script src="./libs/vue/vue.js"></script>
		<script src="./js/main.js"></script>